@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";



@custom-variant dark (&:is(.dark *));


@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/HelveticaNowDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/HelveticaNowDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/HelveticaNowDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Helvetica Now Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-mono: var(--font-geist-mono);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-pink-foreground: var(--pink-foreground);
  --color-pink: var(--pink);
  --color-green-foreground: var(--green-foreground);
  --color-green: var(--green);
  
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #146de1;
  --primary-foreground: oklch(0.985 0 0);
  --pink: rgba(242, 82, 119, 0.15);
  --green: rgba(64, 195, 81, 0.15);
  --pink-foreground: #f25277;
  --green-foreground: #40c351;
}

@layer base {

  body {
    @apply bg-background font-sans ;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent;
    background:
      linear-gradient(0deg, #4285f4, #4285f4),
      linear-gradient(
        90deg,
        rgba(172, 135, 235, 0.3) 3.85%,
        rgba(33, 123, 254, 0.3) 17.76%,
        rgba(7, 142, 251, 0.3) 32.51%,
        rgba(172, 135, 235, 0.3) 53.43%,
        rgba(238, 77, 93, 0.3) 94.82%
      );
  }
}
